:root {
  --header-text-color: #212121;
  --accent-text-color: #2196f3;
  --first-title-color: #212121;
  --first-text-color: #757575;
  --first-btn-color: #212121;
  --second-btn-color: #ffffff;
  --social-hover-color: #ffffff;
}
